@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-irctc-blue: #003399;
  --color-irctc-orange: #f26522;
  --color-irctc-gray: #f5f5f5;
}

body {
  margin: 0;
  background-color: var(--color-irctc-gray);
  color: #1a1a1a;
  font-family: 'Inter', sans-serif;
}
